<div class="profile">
    <div class="edit-profile">
<h1 id="title">Your profile:</h1>

<img id="profile-picture" src="/{{user.profile_picture}}" alt="">



<div>
    <p> First name: {{user.firstName}}</p> 
    <p> Last name: {{user.lastName}}</p>
    <p> Your email address: {{user.email}}</p>
    <p> Your phone number: {{user.phone}}</p>
    <p> Your date of birth: {{tourist.birthday}}</p>
</div>

<button id="edit-btn" onclick="window.location.href = '/user/profile/edit';">Edit</button>
</div>
</div>
</div>