<h1>Tours in {{tours.city}}</h1>
{{#each tours}}
    <img src="{{image}}" alt="">
    <h2><a href="/tourist/tours/detail/?id={{this.id}}">{{title}}</a></h2> {{!-- queries here also means queries in detailedRecipe.js --}}
    <h4>Duration: {{duration}} hour(s)</h4>
    <a href="/guide/tours/delete/{{this.id}}">Delete</a>
{{/each}}
