{{#if role.guide}}
<img class="tour-img" src="{{tour.image}}" alt="">
<h3>{{tour.title}}</h3>
<h5>Duration: approximately {{tour.duration}} hour(s)</h5>
<h5>City: {{tour.city}}</h5>
<h6>Summary: {{tour.description}}</h6>
<a href="/guide/tours/edit/{{tour.id}}">Edit tour</a>
{{else }}
<img class="tour-img" src="{{tour.image}}" alt="">
<h3>{{tour.title}}</h3>
<h5>Duration: approximately {{tour.duration}} hour(s)</h5>
<h5>City: {{tour.city}}</h5>
<h6>Summary: {{tour.description}}</h6>


<form action="/tourist/tours/add" method="POST">
<input type="number" required name="purchased_tours" placeholder="how often?">
<button type="submit">Add!</button>
</form>
{{/if}}

